# Auto detect text files and perform LF normalization
* text=auto


$ cat .gitattributes
admin/assets/bootstrap/* linguist-vendored=false
admin/assets/fontawesome/* linguist-vendored=false
admin/assets/jquery/* linguist-vendored=false
