body{
  background:#f4f4f4;
}

/* Custom */
.main-color-bg{
  background-color: #e74c3c !important;
  border-color: #c0392b !important;
  color:#ffffff !important;
}

/* Header */
#header{
  background:#1abc9c;
  color:#ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

h1.error404 {
  color:#17202a;
  font-size: 8em;
  color: #ef5350;
  font-weight: 700;
}

h2 {
  color:#17202a;
  font-size: 2em;
  color: #555555;
  font-weight: 700;
}

#header .create{
  padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb{
  background:#cccccc;
  color:#333333;
}

.breadcrumb a{
  color:#333333;
}

.box{
  color:white;
  margin:0 auto;
  margin-top: 6%;
  width:90%;
  margin:80 auto;
  padding:10px;
  text-align:center
}

.pacman{
  animation:move-packman 10s infinite linear;
  animation-delay: 600ms;
}

.pacman-top{
  height:50px;
  width:100px;
  border-radius:50px 50px 0px 0px;
  background:#1abc9c;
  transform-origin:50% 100%;
  animation:top 300ms infinite linear
}

.pacman-bottom{
  height:50px;
  width:100px;
  border-radius: 0px 0px 50px 50px;
  background:#1abc9c;
  transform-origin:50% 0%;
  animation:bottom 300ms infinite linear
}

.paper-movement{
  animation: move-paper 10s infinite linear;
}

.paper {
  color: #ef5350;
  font-size: 64px;
  position: fixed;
    top: -80px;
  animation: walk-paper 1s infinite linear;
}
@keyframes top{
  0%{
    transform:rotate(-30deg)
  }
  50%{
    transform:rotate(0deg)
  }
  100%{
    transform:rotate(-30deg)
  }
}

@keyframes bottom{
  0%{
    transform:rotate(30deg)
  }
  50%{
    transform:rotate(0deg)
  }
  100%{
    transform:rotate(30deg)
  }
}

@keyframes move-packman{
  0%{
    margin-left:0%
  }
  48%{
    transform:rotateY(0deg)
  }
  50%{
    transform:rotateY(180deg);
    margin-left:100%
  }
  98%{
    transform:rotateY(180deg)
  }
  100%{
    margin-right:100%
  }
}

@keyframes move-paper{
  0%{
    margin-left:0%
  }
  48%{
    transform:rotateY(0deg)
  }
  50%{
    transform:rotateY(180deg);
    margin-left:100%
  }
  98%{
    transform:rotateY(180deg)
  }
  100%{
    margin-right:100%
  }
}

@keyframes walk-paper{
    25%{
        transform: rotate(20deg);
    }
    75%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(0deg);
    }
}