body {
  max-width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: whitesmoke;   
}
.container {
  position: relative;
  z-index: 1;
  max-width: 80%;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
.main-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1abc9c;
}

.main-navbar-item {
    float: left;
}

.main-navbar-item  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-navbar-item  a:hover {
    background-color: #111;
}

.login-logo {
  float: left;

  background-color: #1abc9c 
}

.main-container {
  width: 80%;
  margin: auto;
  margin-top: 5%;

}
.snikker{
  border-radius:0px;
  margin-left:10px;
}
.custom-header{
  background-color:#1abc9c
}
.btn-custom{
  border: 2px solid;
  background-color: transparent;
}
.btn-custom-trans{
  background-color: transparent;
  border: 0px solid;
}
.btn-custom.white{
  border-color: white;
  color: white;
}
#modalpdf{
  height:800px;
  width: 800px;
  margin-left: -170px;
}
.sendTime{

    text-align: right;
    color: #595959;
    width: 100%;
    font-size: 12px; 
    font-weight: bold;
}
#modallog{
    height: 800px;
    width: 800px;
    margin-left: -170px;
}
#projectname{
    width:400px;
}
#projectdescription{
    width:400px;
}
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}
.type1 {
    width: 20px;
    height: 20px;
    background: red;
}
.type2 {
    width: 20px;
    height: 20px;
    background: green;
}
.alert-fixed {
    position:fixed;
    top: 90%;
    left: 2%;
    width:40%;
    z-index:9999;
}s